/node_modules
/public/hot
/public/css
/public/fonts
/public/images
/public/js
/public/mix-manifest.json
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.phar
.php-cs-fixer.cache
